footer{
  .footer{
    .logo{
      max-width: 8rem;
      margin-left: 0;
      margin-right: 0;
    }
    .grid{
      @media (min-width:768px) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 10px;
        .col-1{
          grid-column: 1 / 4;
          p{font-size: .8rem;}
        }
        .col-2{
          grid-column: 5 / 7;
        }
        .col-3{
          grid-column: 7 / 9;
          margin-top: 0;
        }
        .col-4{
          grid-column: 9 / 13;
        }
      }
    }
    .grid .col-1 p.flex{
      display: flex;
      gap: 20px;
      align-items: baseline;
      margin-left: 0;
      @media (min-width:1024px) {
        max-width: 90%;
      }
    }
    .grid .col-2 ,
    .grid .col-3 {
      @media (min-width:768px) {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    .grid .col-2 p,
    .grid .col-3 p{
      &:hover{text-decoration: underline; text-underline-offset:5px;}
      margin-left: 0;
      font-size: 1rem;
      margin-bottom: 1rem;
      @media (min-width:768px) {
        font-size: .8rem;
      }
    }
    .huddle-cr, .social{
      text-align: center;
    }
    .social {
      
      @media (min-width:768px) {
        padding-top: 0;
        padding-bottom: 0;
        text-align: right;
      }
      @media (min-width:1024px) {
        text-align: left;
      }
      i{
        &:hover{
          color: $blue-3;
          border-color: $blue-3;
        }
        transition: all .4s;
        margin-inline: 10px;
        border: 1px solid white;
        border-radius: 50%; 
        padding: 0.6rem 1rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        @media (min-width:768px) {
          margin-inline: 5px;
        }
      }
    }
    
    p.huddle-cr{
      font-size: 10px;
      @media (min-width:768px) {
        font-size: 12px;
        text-align: right;
        margin: auto;
        margin-right: 0;
      }
      @media (min-width:1024px) {
        font-size: 14px;
        max-width: 70%;
        text-align: right;

      }
    }
  }
}