@import './color';
@import './mixin';

.btn{
  cursor: pointer;
  transition: all .3s;
  border: none;
  padding: 10px;
  transition: all .4s;
  font-size: 16px;
}

.custom-btn-1{
  @include shadow-br(4, 5px);
  @include bg-color($blue-3, white);
  @media (min-width:425px) {grid-column: 8/13;}
}